.fui-PaginationContent {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  list-style: none;
  padding: 0;
  margin: 0;
}

.fui-PaginationItem {
  display: flex;
}

.fui-PaginationLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  border-radius: var(--radius-2);
  color: var(--gray-alpha-900);
  text-decoration: none;
  cursor: default;
  user-select: none;

  &.fui-r-size-1 {
    min-width: var(--space-5);
    height: var(--space-5);
    padding-inline: var(--space-1);
    font-size: var(--font-size-1);
  }
  &.fui-r-size-2 {
    min-width: var(--space-6);
    height: var(--space-6);
    padding-inline: var(--space-2);
    font-size: var(--font-size-2);
  }
  &.fui-r-size-3 {
    min-width: var(--space-7);
    height: var(--space-7);
    padding-inline: var(--space-3);
    font-size: var(--font-size-3);
  }

  &:where(:hover) {
    background-color: var(--gray-alpha-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-focus-root);
    outline-offset: -1px;
  }

  &[data-active] {
    background-color: var(--accent-alpha-200);
    color: var(--accent-950);
    font-weight: var(--font-weight-medium);
  }
}

.fui-PaginationChevronStart {
  transform: scaleX(-1);
}

.fui-PaginationEllipsis {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--space-6);
  height: var(--space-6);
  color: var(--gray-alpha-900);
  user-select: none;
}
