@config "../tailwind.config.ts";
@layer theme, base, frosted_ui, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@import '@aussieljk/frosted/styles.css' layer(frosted_ui);

@font-face {
  font-family: 'InterVariable';
  src: url('../fonts/InterVariable.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'InterVariable';
  src: url('../fonts/InterVariable-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --inter-variable: 'InterVariable';
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Inter variable setup */
.frosted-ui {
  --default-font-family: var(--inter-variable);
}
@supports (font-variation-settings: normal) {
  .frosted-ui {
    --default-font-family: var(--inter-variable), sans-serif;
  }
}
